<h1>Admin Dashboard</h1>

<div class="ui two column grid">
  <div class="column">
    <h2 class="section-header">Abuse reports</h2>
    <div>
      <%= link_to abuse_reports_path, class: "ui button admin-management-button" do %>
        Abuse reports
      <% end %>
    </div>

    <div>
      <%= link_to abuse_report_reasons_path, class: "ui button admin-management-button" do %>
        Abuse report reasons
      <% end %>
    </div>
  </div>
  <div class="column">
    <h2 class="section-header">Users</h2>
    <div>
      <%= link_to users_path, class: "ui button admin-management-button" do %>
        Users
      <% end %>
    </div>
  </div>
</div>
