.ui.menu.navigation-menu {
  background-color: $dark-blue;
  a, a:link, a:hover, a:visited, a:active {
    color: $white;
  }
}

.homepage-link {
  font-size: 1.25em;
  padding: 1em 2em;
}

.ui.pagination.menu {
  margin-top: 0.5em;
  margin-bottom: 1em;
  float: left;
  .item a:hover {
    border-color: $dark-blue;
    color: $dark-blue;
  }
}

.clickable-table-row {
  &:hover {
    cursor: pointer;
    color: $dark-blue;
  }
}

.ui.button.admin-management-button {
  margin: 0.25em 0;
  font-weight: bold;
  color: black;
  background-color: white;

  &:hover {
    box-shadow: 0 0 0 2px $dark-blue inset;
    color: $dark-blue !important;
  }
}
