.ui.menu.navigation-menu {
  background-color: $dark-blue;
  a, a:link, a:hover, a:visited, a:active {
    color: $white;
  }
}

.homepage-link {
  font-size: 1.25em;
  padding: 1em 2em;
}

.ui.inverted.pagination.menu {
  background-color: $dark-blue;
  margin-top: 0.5em;
  margin-bottom: 1em;
  float: right;
}
